/*
eslint的配置文件，定义代码编写风格的规则
*/
{
  "root": true,
  "plugins": [
    "flowtype"
  ],
  "extends": [
    "plugin:vue-libs/recommended",
    "plugin:flowtype/recommended"
  ],
  "globals": {
    "__WEEX__": true,
    "WXEnvironment": true
  }
}
